// font sizes
$font-primary: 2.2rem;

//font weights
$f-xl-light: 200;
$f-light: 300;
$f-regular: 400;
$f-semibold: 600;
$f-bold: 700;
$f-black: 900;

// Grid variables
$container-width: 144rem;
$grid-margins: 22rem;
$grid-width: 122rem;

$gutter-vertical: 6rem;
$gutter-horizontal: 3rem;