.container {
  max-width: $grid-width;
  width: 100%;
  margin: 0 auto;

  .row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }

    [class^='col-'] {
      background-color: orangered;
      margin-left: 1rem;
      margin-right: 1rem;

    }

    // Column code
    .col-1 {
      @include calculateColWidth($gutter-horizontal, 1);
    }

    .col-2 {
      @include calculateColWidth($gutter-horizontal, 2);
    }

    .col-3 {
      @include calculateColWidth($gutter-horizontal, 3);
    }

    .col-4 {
      @include calculateColWidth($gutter-horizontal, 4);
    }

    .col-5 {
      @include calculateColWidth($gutter-horizontal, 5);
    }

    .col-6 {
      @include calculateColWidth($gutter-horizontal, 6);
    }

    .col-7 {
      @include calculateColWidth($gutter-horizontal, 7);
    }

    .col-8 {
      @include calculateColWidth($gutter-horizontal, 8);
    }

    .col-9 {
      @include calculateColWidth($gutter-horizontal, 9);
    }

    .col-10 {
      @include calculateColWidth($gutter-horizontal, 10);
    }

    .col-11 {
      @include calculateColWidth($gutter-horizontal, 11);
    }

    .col-12 {
      @include calculateColWidth($gutter-horizontal, 12);
    }

  }


}