.btn {
    border: 1px solid $color-secondary;
    font-size: 1.8rem;
    font-weight: $f-bold;
    padding: 1.2rem 3.4rem;
    text-decoration: none;
    color: $color-website-primary;
    border-radius: 2px;

    &--primary {
        background-color: $color-website-primary;
        color: $color-white;
    }

    &--secondary {
        background-color: $color-website-primary;
        color: $color-white
    }
}