.features {

    background-image: url(../../img/feature-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 5%;

    &__paragraph {
        font-size: 2.1rem;
        line-height: 1.3;
        width: 80%;
    }

    &__item {

        &-detail{
            font-size: 1.3rem;
            line-height: 1.5;
            width: 80%;
        }
    }
}