// base typography
body {
  font-family: 'Lato', sans-serif;
  font-weight: $f-regular;
  line-height: 1.21;
  color: $color-default;
  font-size: $font-primary;
}

// HEADINGS
.h1 {
  font-size: 5.1rem;
  font-weight: $f-bold;
  line-height: 1.5;
}

.h2 {
  font-size: 3rem;
  font-weight: $f-bold;
  line-height: 1.4;
}

.h3 {
  font-size: 2.6rem;
  font-weight: $f-bold;
  line-height: 1.39;
}

.h4 {
  font-size: 2.2rem;
  font-weight: $f-bold;
  line-height: 1.33;
}

.h5 {
  font-size: 1.8rem;
  font-weight: $f-bold;
  line-height: 1.27;
}

.h6 {
  font-size: 1.4rem;
  font-weight: $f-bold;
  line-height: 1.21;
}

// paragraphs
.p {
  font-weight: $f-regular;
  line-height: 1.21;
  font-size: $font-primary;
}

.lead {
  font-weight: $f-regular;
  line-height: 1.21;
  font-size: 1.8rem;
}

.small {
  font-weight: $f-regular;
  line-height: 1.17;
  font-size: 1.2rem;
}

// Font weights
.font-weight-thin {
  $f-thin: 100;
}

.font-weight-light {
  $f-light: 300;
}

.font-weight-regular {
  $f-regular: 400;
}

.font-weight-bold {
  $f-bold: 700;
}

.font-weight-black {
  $f-black: 900;
}